<template>
    <div>
        <h1>Estudiantes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(student, index) in Students" :key="index">
                    <td>{{student.name}}</td>
                    <td>{{student.rut}}</td>
                    <td>{{student.birthdate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios'

export default{
    title: "lista",
    data() {
        return{
            Students: []
        };
    },

    mounted(){
        this.getStudents();
    },

    methods: {
        getStudents(){
            axios.get('http://161.35.7.203:8080/students',{})
               .then(response => {
                   this.Students = response.data;
               })
               .catch(e => {
                        console.log(e);
                    });
        },
        update(){
            this.getStudents();
        }
    }

};
</script>

