<template>
  <div>
    <div  class="home-logo">
      <el-image style="width: 1657px; height: 1053px" :src="src"></el-image>
    </div>
  </div>
</template>

<script>


export default{
  data(){
    return{
      src: '../assets/images/alumno.png'
    }
  } 
}
</script>
